header{
        background-color: rgb(2,70,99);
        text-align: center;
        padding: 10px;
        
      
}

h1{
        color: #ffffff;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5rem;
}
a {
        margin: 0 10px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
      
      .active {
        
        text-decoration: underline;
      }